.container{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
}
.left{
    background-image: url('../../assets/bg-sidebar-desktop.svg');
    padding: 30px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    height: 500px;

}
.leftHead{
    display: flex;
    gap:10px;
}
.article{
    display: flex;
    flex-direction: column;
}
.circle{
    border-radius: 50%;
    background-color: #473DFF;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}
.step{
    color: rgba(255, 255, 255, 0.473);
}
.plan{
    font-weight: bold;
    color: white;
}
.active{
    color:black;
    background-color: #BEE1FE;
}
.right{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .left{
        background-size: cover;
    }
}